 * { 
    margin: 0;
    padding:  0;
}
/* 항상 맨 위에 작성하기 */

body {
    width : 100vw;
    height : 100vh;
    display : flex;
    justify-content: center;
    align-items: center;
}


.wrap {
    width : 300px;
    height : 500px;
    background-color: #fff;
/*    display : flex;
    justify-content : space-around;
    align-items : center; */
    border-radius: 10px;
    border: 1px solid lightslategray;
    overflow: hidden;
}


.box { 
    height : 35%;
    background-color: lightslategray;
    display : flex;
    justify-content: center;
    align-items: center; 
}

.contents {
    height : 65%;
}

.circle {
    width : 100px;
    height : 100px;
    background-color: lightgrey;
    border-radius: 50px;
    overflow: hidden;    
}

.image {
    width : 100%;
}


.title {
    font-family: "Inconsolata";
    height : 70px;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    color : darkblue;
    border-bottom : 1px solid;
    margin : 0 20px;
}

.text {
    height :170px;
    padding : 20px 20px;
    overflow-y : scroll;
   /* border: 1px solid #bcbcbc;
    border-radius: 0px;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */
    font-family : "Nanum Myeongjo";
    font-size : 17px;
} 