.wrap {
    width : 500px;
    height : 500px;
    background-color: gray;
    display : flex; /* 블록 안에 블록 삽입 및 정렬 */ 
    justify-content : center; /* 가로로 중앙 정렬 */
    /* space-around : 요소 간 공백을 동일하게 준다, 
       space-between : repo 안의 공간을 최대로 활용하고 싶을 때  */
    align-items: center; /* 세로로 중앙 정렬 */ 
}

.box {
    width : 70px;
    height : 70px;
    background-color: yellow;
    margin : 10px; /* 박스 간 간격을 떨어뜨린다 */
}

